<h1>Dashboard#show</h1>
<p>Find me in app/views/dashboard/show.html.erb</p>

<div class="card p-10 bg-white">
  <%= @user.name %>
  <br/>
  <%= @user.email %>
  <br/>
  <%= @user.username %>
  <br/>
  <%= @user.phone_number %>
  <br/>
</div>

<h1>test</h1>
