<%= form_with(model: notification) do |form| %>

    <%= form.hidden_field :read_at, value: Time.zone.now %>

    <div class="actions text-gray-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
      <%= button_tag(type: 'submit') do %>
        mark as read
      <% end %>
    </div>

<% end %>
