<h1>Admin display buttons </h1>

<!-- Add Friend  Button -->
<%= render :partial => "friend_requests/request_buttons/add_friend_button", :locals => {:friend_request => @friend_request, :requestor_id => @friend_request.requestor_id, :receiver_id => @friend_request.receiver_id,  :user => @user } if @friend_request == false %>

<!-- Cancel Request Button -->
<%= render :partial => "friend_requests/request_buttons/cancel_button", :locals => {:friend_request => @friend_request, :requestor_id => @friend_request.requestor_id, :receiver_id => @friend_request.receiver_id,  :user => @user }  %>

<!-- Accept Request Button -->
<%= render :partial => "friend_requests/request_buttons/accept_button", :locals => {:friend_request => @friend_request, :requestor_id => @friend_request.requestor_id, :receiver_id => @friend_request.receiver_id,  :user => @user }  %>

<!-- Reject Request Button -->
<%= render :partial => "friend_requests/request_buttons/reject_button", :locals => {:friend_request => @friend_request, :requestor_id => @friend_request.requestor_id, :receiver_id => @friend_request.receiver_id,  :user => @user }  %>
