<%= form_with(model: friend_request) do |form| %>

    <%#= form.hidden_field :requestor_id, value: requestor_id %>
    <%#= form.hidden_field :receiver_id, value: receiver_id %>
    <%= form.hidden_field :status, value: "rejected" %>

    <div class="actions btn btn-outline-danger">
      <%= button_tag(type: 'submit') do %>
        reject
      <% end %>
    </div>

<% end %>
