  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#friendRequestAsRequestorModal">
    <!-- Requested -->
    As Requestor
  </button>

<!-- Modal -->
<div class="modal fade" id="friendRequestAsRequestorModal" tabindex="-1" role="dialog" aria-labelledby="friendRequestAsRequestorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="friendRequestAsRequestorModalLabel">Friend Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">

          <div class="pb-4">
            <div class="card p-4">

              <div class="row">

                <div>
                  <%= render partial: "friend_requests/request_buttons/cancel_button", locals: { friend_request: friend_request, requestor_id: friend_request.requestor.id, receiver_id: friend_request.receiver.id} %>
                </div>

                <div>
                  <%= render partial: "friend_requests/request_buttons/delete_request_button", locals: { friend_request: friend_request, requestor_id: friend_request.requestor.id, receiver_id: friend_request.receiver.id} %>
                </div>

              </div>

            </div>
          </div>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

    </div>
  </div>
</div>
