<div class="p-4">
  <div class="border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200 p-4">
    <p class="text-3xl">Friend Requests</p>

    <hr>
    <%= render "friend_requests/as_requestor" %>
    <br>
    <%= render "friend_requests/as_receiver" %>

  </div>
</div>
