<h1>Friend Requests Show</h1>

<p>
  <strong>requestor_id:</strong>
  <%= @friend_request.requestor_id %>
</p>

<p>
  <strong>receiver_id:</strong>
  <%= @friend_request.receiver_id %>
</p>

<p>
  <strong>status:</strong>
  <%= @friend_request.status %>
</p>

<%# @requested_by_current_user = user.friend_requests_as_receiver.where(requestor_id: current_user.id).first if user.friend_requests_as_receiver.where(requestor_id: current_user.id).present? %>




<%#= render "friend_requests/request_buttons/display_buttons" %>

<%= render "friend_requests/request_buttons/admin_display_buttons" %>
